body {
    margin: 0;
    background-color: #f9f9ff;
  }
  
  html{
    scroll-behavior: smooth;;
  }

/* Navbar */
.navbar {
    background-color: #353353;
    padding: 20px 0;
    border-bottom: solid 1px #4d4b67;
}

.navbar a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

.nav-link:focus, .nav-link:hover {
    color: #FFD15C;
}

.navbar-nav li:not(:last-child) {
    padding-right: 48px;
}

.navbar-nav .nav-link.active {
    color: #FFD15C;
}

/* Section */
section {
    min-height: 100vh;
    padding-top: 100px;
    background-color: #f9f9ff;
}