html,
body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.navbar {
    height: 70px;
    padding: 10px 24px;
    box-shadow: 0 5px 20px 0 #c0bebe;
}

.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: center;
    /* box-shadow: 0 5px 20px 0 rgba(11,7,110,.04); */
}

.logout-btn {
    margin-right: 20px;
}

#map {
    height: 100;
    background-color: #168aad;
}